                *{
                        margin: 0;
                        padding: 0;
                }
                div{
                        background-color: #EDEDED;
                        float: left;
                }
                .box {
                        float: left;
                }
                .yemeistyle {
                	margin-left: 70px;
                        height: 180px;
                        width: 1080px;
                        float: left;
                }
                .zhongjianstyle {
                	margin-left: 70px;
                        height: 1480px;
                        width: 1080px;
                          float: left;
                }
                .yejiaostyle {
                	margin-left: 70px;
                        height: 260px;
                        width: 1080px;
                          float: left;
                }
                .ba {
                        height: 110px;
                        width: 30px;
                }
                .bb {
                        border-radius: 10px;
                        height: 45px;
                        padding: 35px 25px 30px 25px;
                        background-color: #FFFFFF;
                        float: left;
                        font-size: 32px;
                        font-family: "Robot";
                        letter-spacing: 5px;
                        position: relative;
                }
                .bc {
                        border-radius: 10px;
                        margin-left: 30px;
                        margin-right: 30px;
                        height: 110px;
                        width: 110px;
                        float: left;
                }
                .bd {
                        border-radius: 10px;
                        height: 45px;
                        padding: 35px 25px 30px 25px;
                        background-color: #95EC69;
                        float: right;
                        font-size: 32px;
                        font-family: "微软雅黑";
                        letter-spacing: 5px;
                        position: relative;
                }
                .be {
                        border-radius: 10px;
                        margin-left: 30px;
                        margin-right: 30px;
                        height: 110px;
                        width: 110px;
                        float: right;
                }
                .listyle {
                        margin-top: 17.5px;
                        margin-bottom: 17.5px;
                        height: 110px;
                        width: 1080px;
                        list-style: none;
                }
                .ca {
                        height: 30px;
                        width: 15px;
                        margin-top: 40px;
                        float:left;
                }
                .cb {
                        height: 30px;
                        width: 15px;
                        margin-top: 40px;
                        float:right;
                }
                .button {
                        width: 200px;
                        height: 100px;
                        font-size: 32px;
                        letter-spacing: 5px;
                        float: right;
                }